[2016-10-10 08:41] dfreniche opened #1 "Is this Swift 2.3 or 3.0?"
Hi,

Trying to add your library to an old project, Xcode8 complains about legacy Swift code (2.3) that needs to be converted:

[code]

I've looked in your branches / tags / README but can't find which combination of Xcode / Swift is required in order to use this library.

Can you please help me?

As a workaround I'll try with Xcode 7

Thanks!

[2016-10-10 08:53] whorbach opened #2 "Doesn't work under Xcode 8"
Error: Converting to Swift 2.3 not possible.

[2016-10-10 09:04] arsen-vartbaronov commented on #1
Hi, Diego

The code that is in github right now can be used for Xcode 7 and Swift 2.2 only. However we are working on moving to Swift 3 And I expected this will happened in this or next week. If for you is important to do in in Swift 2.3 only you can provide me this information with information what company you are represented. I will forward this request to our management team.

[2016-10-10 10:17] dfreniche commented on #1
Hi Arsen,

Thanks for getting back to me so quickly

- So if I've understood it right this week you'll push a Swift 2.3 update. Any chances of Swift 3.0 for use with Xcode 8? :-D
- also, it would be useful to update the README to avoid confusion with supported Xcode / Swift version

Thanks!

[2016-10-10 11:15] arsen-vartbaronov commented on #1
Hi, Diego.

This week I do Swift 3.0.
Swift 2.3 it is something we are not going to support so far.

I will update README with Swift 3.0 update.

[2016-10-10 11:17] arsen-vartbaronov commented on #2
Hi, Whorbach

Please see this conversation: https://github.com/Webtrekk/webtrekk-ios-sdk/issues/1#issuecomment-252579972

[2016-10-11 13:54] arsen-vartbaronov commented on #2
Version 4.1.0 with Swift 3.0 and Xcode8 support is added to Cocoapods

[2016-10-11 13:54] #2 closed

[2016-10-11 13:56] arsen-vartbaronov commented on #1
Version 4.1.0 with Swift 3.0 and Xcode8 support is added to Cocoapods. If you need additional support for version Swift 2.3 please let me know and report separate issue. Also readme was updated in section Requirements for Xcode and Swift version support.

[2016-10-11 13:56] #1 closed

[2016-10-12 10:58] dfreniche opened #3 "Don't know how to use Webtrekk library from Objective C"
Hi,

As you can see in the attached project, I've installed the last version of the webtrekk iOS library (thanks for updating it to Swift 3!).

I had to make some minor changes (set SWIFT_VERSION = 3.0 for ReachabilitySwift & CryptoSwift) but everything compiles OK.

But when I try to use the `PageTracker` class from Objective-C, it's not found:

I've tried:
[code]

also changed the #import into a

[2016-10-12 11:39] arsen-vartbaronov commented on #3
Hi, Diego

Is it only for PageTracker? DefaultTracker don't have such problem?

[2016-10-12 15:14] dfreniche commented on #3
Hi Arsen,

No, I can't use any public-facing Swift class from Objective-C.

For example:

[code]

gives me:

[code]

In the case of DefaultTracker is understandable, because is declared as `internal` and it shouldn't be visible outside its module (the Pod). If you CMD+click on DefaultTracker you can see:

[code]

But the thing that really bugs me is that if you CMD+clink on `#import <Webtrekk/Webt

[2016-10-18 09:10] dfreniche commented on #3
Hi Arsen,

Been digging a little bit around this problem. And we have serious limitations here, due to [how Swift-Objective-C Mix & Match works](https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html)

To use your Swift code directly from Objective-C we'll need:
- to add `@objc` to all public-facing classes. Also they have to extend from `NSOb

[2016-10-19 14:23] arsen-vartbaronov commented on #3
Hi, Diego
So far, per discussion it isn't supported.

[2016-10-19 14:23] #3 closed

[2016-10-26 08:17] thebugcode opened #4 "Carthage support."
Can we make it so that Webtrekk supports carthage? We and many other teams start using Carthage due to its lightness, it would make sense to support it

[2016-10-31 15:31] olebahlmann commented on #4
We are looking into adding support for Carthage. But it's not at the top of the list.

[2016-10-31 19:28] thebugcode commented on #4
I can understand that. Could you tell me how would you envision this happening? If I submitted a PR for this, maybe it could get merged

[2016-10-31 21:09] olebahlmann commented on #4
That is exactly what we need to figure out first.

[2016-11-11 01:37] thebugcode commented on #4
I know how, do you mind if I provide a PR, with Carthage support mostly implemented for webtrek, except a few small things where you could help so that we can ship Carthage support ?

[2016-11-11 02:59] olebahlmann commented on #4
Please, go ahead. We'll do our best to review it quickly.

Ursu Dan <notifications@github.com> schrieb am Fr., 11. Nov. 2016, 02:37:

[2016-11-21 17:23] priore opened #5 "additional parameters"
When pass the additional parameters to `trackPageView` method into `variables` param, I don't see this parameters on network request, what is the correct way to passing the additional parameters ?

thanks

[2016-11-22 08:08] arsen-vartbaronov commented on #5
Hi, Priore

Could you please provide what result URL or what output parameters you would like to generat, and I provide what is required to be done.

[2016-11-22 09:47] priore commented on #5
In the previous version I created a dictionary with cpX and cgX parameters (where X and a number) and these queued in the post, but in this new version not be sent.

below the example for the old Webtrekk:

[code]

[2016-11-22 12:59] arsen-vartbaronov commented on #5
Hi, Priore

So I assume you need the follow parameters to track:
cg1....cg5, cg8.....cg13, cp2, cp4...cp7, cp10...cp14 (please note cp5 is used twice in your dictionary). For that case I suggest do two things:

1. change config file and add the follow block parameters to <globalTrackingParameter> or <screen><screenTrackingParameter> if you are going to use autotracking. If you use Tag Integration

[2016-11-25 13:57] priore commented on #5
We use the SDK in an Objective-C project, integrating it with the bridge, and the our wrapper written like below:

[code]

while the configuration file:

[code]
and the objective-c method:

[code]

but I still do not see the query parameters (I look requests with Charles proxy), I see only this parameters:

[code]

help me please.

[2016-11-29 13:20] priore commented on #5
Hi,
in your code, method urlForRequest of RequestUrlBuilder class, I don't found the code that appends to the url the custom parameters, maybe this feature are not implemented now?

[2016-11-29 15:33] arsen-vartbaronov commented on #5
Hi

custom parameters for page and page categories are added in asQueryItems or PageProperties extension in file RequestUrlBuilder.

You can also look at unit test testKeyValue of class WTBaseTestNew where such test is done and tested before each release. (see for this test webtrekk_config.xml in ModuleTest scheme)

This feature is implemented including unit tests, however it is implemented in ass

[2016-11-29 15:54] priore commented on #5
with `globalTrackingParameter` works fine, great, thanks.

[2016-11-29 16:19] #5 closed

[2016-11-30 05:30] arsen-vartbaronov commented on #3
Hi, Diego.
For Object-C support you can use information from this ticked. It might help: https://github.com/Webtrekk/webtrekk-ios-sdk/issues/5

[2016-12-14 15:41] fotiDim opened #6 "Manual install"
Not everyone used cocoapods. You should provide some instructions for manual install or a compiled framework ready for download.

[2016-12-14 15:47] arsen-vartbaronov commented on #6
Hi fotiDim

Just to clarify your question. You would like to have instruction how to compiled framework. Correct?

[2016-12-14 15:57] fotiDim commented on #6
Yes either or you can offer the compiled framework as a download.

[2016-12-15 16:10] arsen-vartbaronov commented on #6
Hi, fotiDim

We will think about either providing framework or solid instruction, but so far you can do it using two ways:

1. You can just create some simple "Hello world" project, add cocopoads support to it and import Webtrekk pod to it. Then in Products after compilation you will see Webtrekk.framework file.
2. You can also upload whole project from github and compile ModuleTest scheme. It als

[2016-12-15 16:22] arsen-vartbaronov commented on #6
You are wellcome

[2017-01-06 09:27] arsen-vartbaronov commented on #6
I hope issue is closed.

[2017-01-06 09:27] #6 closed

[2017-03-08 13:37] KonradCLAPP opened #7 "Automatic media tracking in WebView"
We are using webtrekk in an iOS App that has a WebView and automatic tracking enabled. Inside the Webviev we would like to track the events the user invokes (standard webtracking), including playing and pausing a `<video>` and which file is played.

Is it also possible to attach further properties of the video, like duration, id and so on and send that along the other data/events to the tracking?

[2017-03-08 14:05] olebahlmann commented on #7
Hi KonradCLAPP,
generally your problem is not something you'd solve in the SDK. When you use the webview you need to have the Webtrekk Tracking Pixel on that web content to track pageviews and video interactions. To ensure that both SDK and tracking pixel are tracking into the same session, please refer to chapter 9 of the SDK documentation.

[2017-03-08 14:05] #7 closed

[2017-06-28 16:13] kumarpatel opened #14 "Question: react-native wrapper for iOS & Android sdks?"
Is there one in the making or will there be one in the near future?

[2017-06-28 16:17] kumarpatel opened #15 "Documentation on usage?"
https://cocoapods.org/pods/Webtrekk

I could only find docs on installation.
I need docs on usage.

[2017-07-04 12:34] kumarpatel commented on #15
nvm. Found it in training materials.

https://support.webtrekk.com/hc/en-us/articles/115001526005-iOS-Tracking-v4

[2017-07-04 12:34] #15 closed

[2017-07-05 16:28] kumarpatel opened #16 "How to initialize tracking in Objective C project"
I've installed WebTrekk iOS sdk via cocoapods
My Podfile has
[code]

Imported this in my AppDelegate.m (This auto-completed for me. So it's most likely right. ¯\_(ツ)_/¯)
Used the following doc to ensure the import statement is correct:
https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html
[code]
I'm using WebTrekk usage doc from https://suppo

[2017-07-06 08:51] olebahlmann commented on #14
@kumarpatel Currently there is no wrapper planned for the coming weeks. Please feel free to submit a PR. We can support you to some extend  if necessary.

[2017-07-06 20:20] kumarpatel commented on #14
ok thanks. I'll post back when I have something to show for it. In the mean time, is it possible to use this iOS sdk in an Objective C project?
I have open issue (question) for this [here](https://github.com/Webtrekk/webtrekk-ios-sdk/issues/16)

[2017-07-27 15:46] arsen-vartbaronov commented on #4
@thebugcode Carthage support is done. However it would be good to validate this task. You can use already existed test project for [that](https://github.com/Webtrekk/webtrekk-ios-sdk/tree/master/CarthageTest )

[2017-07-27 15:46] #4 closed

[2017-08-17 08:42] pfrischmuth opened #19 "Change configuration after tracker has been initialized throws an error"
When I try to (re)start the tracker with another configuration file after it has been already initialized, I receive the following error:

`[Webtrekk] [ERROR] Webtrekk SDK has been already initialized.`

There seems to be no way currently to reset the tracker instance, since it is an internal var. In the example code Webtrekk is imported with`@testable` and thus the tracker var can be accessed, bu

[2017-08-17 08:52] arsen-vartbaronov commented on #19
Dear @pfrischmuth can you explain why you need to change configuration after it has been initialized? What is final goal you would like to achieve?
It would be good if you can provide both configurations and I can look at difference.

[2017-08-17 08:56] pfrischmuth commented on #19
We need to change the `trackId` as well as the `trackDomain`.

We use different tracking IDs and domains for different countries. The country can be selected within the app and without quitting the app.

[2017-08-17 09:10] olebahlmann commented on #19
Hi @pfrischmuth,
your desired outcome can be solved in a simpler manner using Webtrekk data profiles which can be configured in your account. Feel free to contact me directly to learn more about this.

[2017-08-17 09:15] drct opened #20 "CryptoSwift has been updated to 0.6.9"
CryptoSwift has been updated to v0.6.9 while Webtrekk uses v0.6.7. Is the older version used on purpose?

[2017-08-17 09:48] arsen-vartbaronov commented on #20
Dear @drct
We plan to update version to the latest one. Do you have any specific issue because of that?

[2017-08-17 09:58] drct commented on #20
I don't have specific issues at the moment, because I use CryptoSwift only through Webtrekk. But if I used it separately I might have.
I was also wondering why you have limited the dependency to one specific Version? You might exclude important bugfixes or features.

[2017-08-17 11:28] pfrischmuth commented on #20
It would be nice if you could update CryptoSwift to something like `~> 0.6.9`. CryptoSwift does currently not compile with Xcode 9, but they already fixed this in their `develop` branch. This way we could overwrite the CryptoSwift dependency until they provide a new release.

[2017-08-17 12:11] arsen-vartbaronov commented on #20
Hi, @drct and @pfrischmuth
There are couple factors here:
1. We don't use this library a lot (actually only hash functions) and I would thinking about read of that, to avoid forcing other company to have dependency from this library. However so far there is no problem with library version we are using now.
2. Except important bug fixing there is also risk of API change. Per SemVer documentation

S

[2017-08-30 11:36] victorrodri04 commented on #20
Hi @arsen-vartbaronov,

I have the same issue. It would be great if you could provide with that provide with a new version earlier so we can start our migration with all the dependencies working.

This will also speed up your migration process in case issues appear to be ready for day one. If everything is ready beforehand it will be a matter of verifying that everything works like in the betas.

[2017-08-30 11:46] olebahlmann commented on #20
You can expect an update to CryptoSwift v0.6.9. shortly. There is also a Swift4 version for cocoapods coming.

[2017-08-30 11:48] victorrodri04 commented on #20
That's great. Thank you very much.

[2017-09-07 09:07] olebahlmann commented on #20
We have released a new [version](https://github.com/Webtrekk/webtrekk-ios-sdk/releases/tag/4.7.0) that doesn't depend on cryptoswift anymore.

[2017-09-07 09:07] #20 closed

[2017-09-07 09:08] #19 closed

[2017-09-13 10:05] Dschee opened #21 "Xcode 9 support – CryptoSwift dependency too strict"
Xcode 9 GM seed was released yesterday. Developers are expected to use Xcode 9 from now on, but the CryptoSwift version is defined way too strict in the Cartfile. It should better be `~> 0.7` instead of the very restrictive `== 0.6.9` which is not a good idea, especially for a framework.

[2017-09-13 10:50] Dschee opened #23 "Xcode 9 support – fix build errors"
The project as it currently is doesn't build with Xcode 9 GM seed.

[2017-09-20 07:37] arsen-vartbaronov commented on #21
Dependency from CryptoSwift has been removed

[2017-09-20 07:37] #21 closed

[2017-09-20 07:39] arsen-vartbaronov commented on #23
@Dschee
Currently it compiled as Swift 3.2. This week will be released version with Swift4 and released Xcode9 support.

[2017-10-16 15:01] nvangiessel opened #27 "Carthage build fails"
I can't build(swift 4) the project anymore with Carthage anymore since version 4.8. Downgrading to version 4.7.2 works fine.

[code]

[2017-10-16 15:16] arsen-vartbaronov commented on #27
@nvangiessel what version of xCode you are using?

[2017-10-16 15:28] arsen-vartbaronov commented on #27
@nvangiessel It looks like I found problem. Tag 4.8.2 was provided. You can use with this tag. It works on my side.

[2017-10-16 15:39] arsen-vartbaronov commented on #23
Swift4 version is released to Cocoapods with version 4.8.1. Sorry for delay.

[2017-10-16 15:39] #23 closed

[2017-10-17 07:46] nvangiessel commented on #27
I'm using XCode 9.0. But yes, ur right. It works with the new tag. Thanks!

[2017-10-17 08:12] #27 closed

[2018-03-06 14:24] mobru opened #37 "How to set custom parameters / variables / "Schlagwort""
Hi,

I seem to have problems with adding custom parameters to a tracking call. I'm using version 4.10.0 with a Swift 4 project, my deployment target is iOS 10. I do not use autotracking or tag integration, everything is being tracked manually.
Everything else works just fine, I can, for example, set a content group which will also be sent.

Here's the initialization:
[code]
and here's the code for

[2018-03-06 14:39] olebahlmann commented on #37
Hi @mobru, thanks for reaching out. Could you let me know (by email or pn) which account this is? I believe the problem might be in the setup.

[2018-03-06 14:49] mobru commented on #37
Hi @olebahlmann! Thanks for the quick reply. I sent you an email (I already have your address from a previous conversation, please let me know if you didn't get the mail)!

[2018-03-12 20:20] anefkens opened #38 "Unable to use framework when build using Carthage"
Hi,

When building the framework using Carthage the framework build cannot be used. It returns a number of compile errors inside the framework.  I'm using Xcode 9.2 to develop/build.

I noticed that when the product is build, inside the framework in the folder "Headers" I see a folder structure appearing that resembles my folder structure of how I setup the project. I.e. "<HomeFolder>/Development/

[2018-03-13 22:13] MBing commented on #37
Hi @mobru
Can you log the data you get here in the for-loop:
[code]
and also the `tracker` object:
[code]

Thanks!

[2018-03-13 22:16] mobru commented on #37
Hi @MBing!

This might be a dumb question, but - how exactly do you want me to log it?

[2018-03-13 22:49] MBing commented on #37
@mobru
Did you write any tests? Then it would also be easier to check that we actually get something back. My first impression is that the for loop looks good. But I am not sure about the tracker object you get back, which methods/keys you can use with them. There used to be some tests where we used `tracker.variables["test"] = "test"` but these were commented out and I would need to have a look i

[2018-03-14 09:00] MBing commented on #37
Hi @mobru

So below I have an example that should work better. A few notes:

  1. To check if the user is logged in we need to add this to the `tracker.sessionDetails` and we will create the `cs1` for Customer Session 1 and `cs2` for Customer Session 2 etc..
  2. To set custom Page Parameters in your case, you need to add it to the `tracker.pageProperties.details` dictionary which uses an `[Int: S

[2018-03-14 12:17] mobru commented on #37
Hi again @MBing!

Thank you very much for the example and your suggestions!
Unfortunately, instantiating the tracker with `WebtrekkTracking.instance()` creates a `Tracker` object, whereas `WebtrekkTracking.instance().trackerForPage(contentId)` creates a `PageTracker`. And the `Tracker` object lacks the `sessionDetails`, `pageProperties`, and `variables` properties.

Trying to cast to `Tracker` to

[2018-03-14 12:29] MBing commented on #37
That is actually ok, it was more that I couldn't find an example on the usage of `trackerForPage` so I wasn't sure on how it will work. But your implementation, given the fact that you get a `PageTracker` back should also work. The `trackPageView` argument is optional.

So your last implementation works?

[2018-03-14 12:39] mobru commented on #37
It looks like it!

After adding the WebTrekk debug logs
[code]
and looking at the console output, everything seems to be sent!

I need to re-check with the people in charge of tracking / marketing for this project if everything arrives as well, but it looks like using `tracker.pageProperties.details` instead of `tracker.variables` (the for `tracker[parameter.key] = parameter.value` loop) for the c

[2018-03-14 12:50] MBing commented on #37
Great! Then I will close this issue.

[2018-03-14 12:50] #37 closed

[2018-03-15 14:20] MBing commented on #38
Hi @anefkens
I will have to check this next week and get back to you.
Is there a possibility to use Cocoapods instead?

[2018-03-15 14:23] anefkens commented on #38
Thanks for the response, but no we cannot use CocoaPods. We are now just trying to migrate to Carthage, and this is the last dependancy remaining.  But if you could take a look much appreciated.

[2018-03-26 14:59] MBing commented on #38
Hi,
Could you help me in making a small test case with Carthage of what you are trying to accomplish, that would help me a lot and I will get on to it then asap.

[2018-03-26 15:56] anefkens commented on #38
Steps I took:

1. Created a SingleView Project.
2. Added Cartfile: github "Webtrekk/webtrekk-ios-sdk"
3: Executed command: "carthage update --platform iOS"

After execution I see in the generated frameworks that the Reachability.framworks, in the sub-folder "Headers" the headers for Reachability are there. The full path on my Mac is for the header file in the Reachability: /DevelopmentStore/Repos/

[2018-03-26 16:17] MBing commented on #38
Ok, thanks, yeah that does seem odd indeed.

[2018-04-03 09:29] bananafish911 opened #39 "[Xcode 9.3 (9E145) erorrs] Overlapping accesses"
Hi, I have troubles with your pod after update to the latest Xcode

It gives errors like "Overlapping accesses to 'event', but modification requires exclusive access; consider copying to a local variable" when u try to modify struct using a local variable (in 10 places in total)

Here are screenshots if u haven't tested it with Xcode 9.3 yet:
https://drive.google.com/open?id=1a7JgDl3-PT2VcjvfoOxEM

[2018-04-03 09:42] mobru opened #40 "Add Swift 4.1 support"
The current version of Webtrekk (4.10.0 pod) does not support Xcode 9.3 / Swift 4.1, with multiple errors in the `RequestTrackerBuilder` class ("Overlapping accesses to 'event'...").
Could this be fixed for a future version of the pod / SDK?

[2018-04-03 10:24] #40 closed

[2018-04-03 10:24] mobru commented on #40
Duplicate of https://github.com/Webtrekk/webtrekk-ios-sdk/issues/39

[2018-04-03 11:09] MBing commented on #39
@bananafish911 Thanks for all the info! I will look into it right away.

[2018-04-12 08:25] anefkens commented on #38
Hi Martin, Any news on this issue?

[2018-04-12 08:31] MBing commented on #38
Hi Arnold,

Currently I am fixing the XCode 9.3 bug first and getting into some testing. As we don't have any yet. Tbh I haven't written a Carthage library before, so it's a bit of a challenge and the previous dev also took a first time hit while creating this. If you have any resources, that would be great!
But I plan to finish the bug somewhere today/Monday and then I will get to Carthage.

[2018-04-12 11:28] anefkens commented on #38
I briefly went in the Webtrekk.xcodeproj, and found the following build setting that is different from other dependancies.  In the Swift Compiler - General I found the path set for:

- "Objective-C Bridging Header" :  $(SRCROOT)/Source/Supporting Files/Webtrekk-Bridging-Header.h
- "Objective-C Generated Interface Header Name" : $(SRCROOT)/Source/Supporting Files/Webtrekk.h

In my understanding the

[2018-04-16 06:58] MBing commented on #38
Running it locally, Carthage seems to work for tvOS & watchOS, but not for iOS. Which obviously is the most important. I am running some tests
![screen shot 2018-04-16 at 08 56 37](https://user-images.githubusercontent.com/2140223/38794102-339c7310-4154-11e8-805d-e26298079aa4.png)

Is your output similar when running `carthage update` ?

Thanks!

[2018-04-16 08:04] anefkens commented on #38
Same error 65 when doing Carthage update.

[2018-04-16 08:06] anefkens commented on #38
** ARCHIVE FAILED **

The following build commands failed:
	CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler
	CompileSwift normal arm64
(2 failures)

[2018-04-16 10:27] bananafish911 commented on #39
@MBing Thanks a lot! And yes, v4.11.0 works fine with the latest Xcode and Swift

[2018-04-16 13:32] MBing commented on #38
Will close when release is done, was auto closed by github. ;)

[2018-04-16 14:17] MBing commented on #38
Hi Arnold,

Can you try this in your Cartfile:
`github "Webtrekk/webtrekk-ios-sdk" "4.11"`

[2018-04-16 18:52] anefkens commented on #38
Tried and same result.

After execution I see in the generated frameworks that the Reachability.framworks, in the sub-folder "Headers" the headers for Reachability are there. The full path on my Mac is for the header file in the Reachability: /DevelopmentStore/Repos/DemoWebTrekkCarthage/Carthage/Build/iOS/Reachability.framework/Headers/Reachability.h

In the Webtrekk.framework in the Headers Folde

[2018-04-18 08:57] MBing commented on #38
I have fixed some path stuff so it's a closer file path. `Headers -> Source -> Webtrekk.h` Are you actually sure you have the framework files linked in your project?

https://koenig-media.raywenderlich.com/uploads/2017/08/navigation.gif

I tried it in a new project and I have access to the global `Webtrekk` object so I can import it without a problem and it even shows me an autocomplete of the mod

[2018-04-18 10:12] MBing commented on #39
Hi @bananafish911

Can you check the latest Pod 4.11 that I just released if all still works for you as well?
There are some warnings still to be fixed, but that will be for a next release as we need to upgrade our Jenkins. Let me know if all is good. Then we can close this issue.
Thanks!

[2018-04-18 10:13] MBing commented on #16
We don't support Objective-C. So I will close this ticket.

[2018-04-18 10:13] #16 closed

[2018-04-18 18:56] #39 closed

[2018-04-18 19:02] MBing commented on #14
I will close this as this would be more a future implementation for our Pixel Tracker (Web version) rather than for the SDK. The Pixel also has a lot more features and is more adjusted to the use of web API technologies. If we plan it later to do in the SDK, we can reopen it and will let you know. 😉

[2018-04-18 19:02] #14 closed

[2018-04-19 17:15] anefkens commented on #38
Thanks, the fix for 4.11 and the shorter path solved it for me, at least in my demo project. Linking world as the import compiles. So should work now.

[2018-04-19 17:15] #38 closed

[2018-07-04 12:02] LigeiaRowena opened #47 "Campaign tracking lacking of informations"
Hi all,
I'm finding a lot of issues when trying to track Campaign Views and Clicks because there's no documentation for that.
In particular when tracking Campaign Views I need to send `ck1/ck2/ck3` keys/values so I'm using details `property` of `ActionProperties` struct.
My question is: why do I have to set also `name` property of `ActionProperties` like I'm tracking an event?
Thanks!

[2018-07-04 12:11] olebahlmann commented on #47
Hi, in order to understand this issue better, can you provide a code sample and explain the expected outcome?

[2018-07-04 18:11] LigeiaRowena commented on #47
Hi, I sent you an email, so if you want you can close this issue, thanks.

[2018-08-01 07:00] akkrat opened #50 "Crashing when UserDefaults accessed from background thread"
Hi.
After adding library to the project, we began to receive periodic crashes. Seems UserDefaults does not support multi-threaded access

iOS version - any
Webtrekk version - any
Crash report:
[code]

[2018-08-02 06:54] MBing commented on #50
Hi @akkrat ,
The UserDefaults are thread-safe,
we are using the Foundation NSUserDefaults, so should be fine, so might be a problem with implementation or somewhere else, but I will investigate it further next week.

Which version of Swift & Xcode are you using?
Are you using Carthage or Cocoapods?
Thanks!

[2018-08-10 12:36] MBing commented on #50
Hi @akkrat, can you reply on the above questions please?
Thanks!

[2018-08-20 19:28] MBing commented on #50
Closing due to inactivity and cannot reproduce.

[2018-08-20 19:28] #50 closed

[2019-03-25 10:19] pradeepktg commented on #37
Hi @mobru - I have the requirements to create a content group, action parameter, site parameter, custom parameter, and formulare. Could you please share me how did you create a content group and how did you call "trackPageImpression" method? and what is "TrackingValue"?

[2019-03-25 10:34] mobru commented on #37
Hi @pradeepktg !

The `trackPageImpression()` method is just a custom method I wrote myself. Each appropriate class calls it when it's time to track a page impression (e.g. in `viewDidAppear` and when the tracking data is set).

As I wrote above, the custom `WebtrekkData` struct I used looks like this:
[code]
So a content group is a dictionary with an integer key and a string (or rather: a `Tracki

[2019-03-25 11:12] pradeepktg commented on #37
Thanks, @mobru. Yes, I understand `trackPageImpression()` is a custom method. Below is my implementation, hope it will work.

[code]

By the way, do you know how to send feedback? somewhere I read, we can send a max of 255 Characters. I have custom form and it has custom formfield. I just need to send the form name, form field name and value. It would be great if you can share your knowledge if yo

[2019-03-25 11:23] mobru commented on #37
Hi again!

I guess this should work. But don't forget to call `tracker.trackPageView()` after settings its properties (it's missing in your snippet at the moment).
As for feedback - I unfortunately have no idea. Best check the documentation or open an issue if you can't find anything on it there.

Oh and also: you should probably call `trackPageImpression()` in `viewDidAppear`, not in `viewWillApp

[2019-03-25 11:35] pradeepktg commented on #37
Oh yes, I was cleaning the code and missed the `tracker.trackPageView()`while sending to you. Ok, now i'm calling the function in viewDidAppear. I'll update you if it works. Thanks again.

[2019-03-26 06:53] pradeepktg commented on #37
@mobru It works. Thanks! Now I left with sending the Feedback.

[2019-03-26 15:27] tarbayev opened #55 "Missing Xcode 10.2 support"
The SDK depends on [Reachability](https://github.com/ashleymills/Reachability.swift) library, which is configured for Swift 3.0, not supported by Xcode 10.2.

[2019-03-27 07:06] pradeepktg opened #56 "How to send formfield value of 255 Characters"
Hi, My client had created a custom form("Formulare") and It contains "Formulare, Formularfelder, and Formularfeldwerte". How do I send data the following data - Formulare = "Feedback", Formularfelder = "textarea", Formularfeldwerte = "some string less than 255 characters". Since there is not supporting API, I tried to send data using URL encoding, I'm getting "200 Ok" status, but the data is not r

[2019-04-05 11:30] MBing commented on #55
Version 4.13.2 should fix this. Please check and close if all works fine for you.

Cheers,
Martin

[2019-04-05 11:32] MBing commented on #56
Currently we don't support Forms in the SDK, only in the web (Pixel) version. And we also only support up to 255 chars, so anything larger will be cut off.
The tracker will always return a 200 OK, unfortunately it is out of my hands to change that. But hope this info helps. :)

[2019-04-05 12:35] pradeepktg commented on #56
@MBing Thank you.

[2019-04-05 20:36] #56 closed

[2019-04-10 06:08] MBing commented on #55
Screenshot?

[2019-04-10 10:21] Y2JChamp commented on #55
Here it is:
![Schermata 2019-04-10 alle 12 20 18](https://user-images.githubusercontent.com/26578037/55871557-31776200-5b8b-11e9-9876-bb54546d5bba.png)

[2019-04-10 14:44] MBing commented on #55
@Y2JChamp These errors are unrelated to the update of Reachability.
We are working on a new version of the SDK which would deal with all these errors.

Currently you can do the following to make sure a release/build still works:
- Project Document -> Project Format => 'Xcode 3.2-compatible'
- File -> Project(Workspace) Settings -> Shared Project Settings -> Build System => 'Legacy Build System'

T

[2019-04-10 15:06] Y2JChamp commented on #55
still not working...

[2019-04-10 18:59] MBing commented on #55
and same errors?

[2019-04-11 10:02] Y2JChamp commented on #55
here's a new screenshot
![Schermata 2019-04-11 alle 12 01 47](https://user-images.githubusercontent.com/26578037/55948860-aca34b80-5c51-11e9-8d2c-b09d871fa996.png)

[2019-04-11 11:12] MBing commented on #55
I cannot reproduce this when doing the steps as suggested above.

[2019-04-11 11:29] Y2JChamp commented on #55
I am using CocoaPods

[2019-04-11 12:05] MBing commented on #55
Ok, so you confirm that using 'Legacy Build System' is not solving your problem?

[2019-04-11 13:10] Y2JChamp commented on #55
i confirm

[2019-04-15 06:54] MBing commented on #55
Do you have a sample where you can reproduce this, a minimum implementation, so I can check where what is going wrong? As I can not reproduce it and other clients don't seem to have this problem. This week I am not in the office, but next week I am back. (23rd) So by then I can look into it and otherwise we can schedule a Skype call to dive into the problem.

But it would of course help if you cou

[2019-04-15 09:50] matteomatassoni commented on #55
We have the same problems; thus, I tried to fix them and it seems to work. Check out PR #59

[2019-04-17 10:20] sebbu commented on #55
@MBing It does not matter if it works with the 'Legacy Build System' setting. To require the 'Legacy Build System' is not a solution. We have just started to work on a brand new app (and where actually expecting Swift 5 already).

Could you check @matteomatassoni PR. It looks like he did the necessary work.

Thanks

[2019-04-23 07:58] MBing commented on #55
@sebbu Since I didn't get an email or any reproducible steps, the best solution was to use the 'Legacy Build System'. The biggest issue with changes and migration is to make sure our other clients don't start complaining of behavior changes. That would cause a lot more problems/costs of course.

I will have a look at the changes of @matteomatassoni (Thank you for this of course! 😃) , first glance

[2019-04-24 15:03] MBing commented on #55
There is a problem with `xcodebuild` (which is used to check/lint verify the code to create a Cocoapod library) and thus I cannot release a version to Cocoapods yet. I am following this:
https://github.com/CocoaPods/CocoaPods/issues/8729

Which shows others have similar problems, like Apple & Fastlane:
https://bugreport.apple.com/web/?problemID=50093486
https://github.com/fastlane/fastlane/issues/

[2019-04-25 10:53] tarbayev commented on #55
FYI, just checked `4.13.2`. Works well with Carthage.

[2019-04-25 14:20] MBing commented on #55
@tarbayev Thanks for the update! 😃
When using Carthage, you can already use version `4.14.0` already, which should also work with the `New Build System`.

*I will close this ticket once I could update Cocoapods as well.*

[2019-06-10 10:15] matteomatassoni commented on #55
@MBing do you have any news?

[2019-06-13 08:12] MBing commented on #55
@matteomatassoni Good news, so there were still some issues with WatchOS, actually a couple due to the migration of 4.2...
Anyway it's fixed and there's a new version on Cocoapods 4.15.3
https://cocoapods.org/pods/Webtrekk

I did have a couple warnings, which I have made a ticket about and will tackle somewhere later. But you should be able to build without a problem. Let me know if all is good.

[2019-06-13 13:08] matteomatassoni commented on #55
@MBing Thank you; but now we can't use it because iOS's minimum deployment target has been increased from 8.0 to 12.0.

[2019-06-13 13:58] MBing commented on #55
@matteomatassoni Ah ok, yeah I will revert the .podspec immediately!

[2019-06-13 14:54] MBing commented on #55
@matteomatassoni updated, can you try and see if it works for you now? The versions should be aligned now, I do have a minimum of 9.0 on both Cocoapods and in Xcode. 4.15.4 is the newest then.

[2019-06-13 16:15] matteomatassoni commented on #55
@MBing I could not test it right now, but I've already tested it on our fork by reverting the pod spec's minimum to iOS 8.0; thus, I think v4.15.4 works as well. Thank you!

[2019-06-14 12:09] MBing commented on #55
as everything should work again, I am closing this, let me know if something is off or create a new ticket please.

[2019-06-14 12:09] #55 closed

[2019-06-14 12:21] MBing opened #60 "Xcode 11 Beta support"
There is an issue with the new Xcode 11 Beta. Although still in Beta, would be good to already look into it. Keeping this open as there might be more coming and as Xcode is still in Beta till Fall.

[code]

[2019-06-28 08:32] MBing commented on #60
Fixed by @LinkAndreas , thanks! Will be released next week in v4.15.6

[2019-06-28 08:32] #60 closed

[2019-07-30 12:46] szotp opened #63 "Support static frameworks"
When trying to integrate this library using CocoaPods without dynamic frameworks, I'm getting this error:
[code]

I  suspect that custom module map was needed to include CatchObC, but maybe there is another way that does not require it?

[2019-12-09 12:39] christianhuck opened #65 "Support Installation via Swift Package Manager"
It would be helpful to integrate the project via SPM since its integrated in Xcode and can replace CocoaPods etc. for many projects.

[2019-12-12 12:07] stellatores commented on #65
Thank you for the feedback. The current version works fine with Cocoapods and Carthage. We are also working on a new version and consider support for Swift Package Manager for that one.

[2019-12-12 13:34] christianhuck commented on #65
@stellatores thanks for sharing this information. Is there any timeline available?

[2020-03-24 09:35] semdangelo opened #67 "Objective-C compatibility"
I'm trying to integrate your product for a client of the company i work for.

In our project, we are using cocoapods and we have an Objective-C target in which we are able to integrate both Objective-c and Swift pods.
In order to make your pod usable from Obj-C you just need to add some "@objc" annotations to the swift classes.
Considered the fact that according to our client request we just requi

[2020-03-24 16:10] stellatores commented on #67
Hi sda,

Thank you for your message. We are currently working on a new iOS SDK written entirely in Objective C. We should have the first basic functionality ready in the next one or two months. Unfortunately, this is why we stopped supporting new functionality in our current SDK. We are only supporting and maintaining bug fixes for now.
If you like to be kept informed about the current status of t

[2020-03-24 16:12] stellatores commented on #65
Hi Christian,

I'm terribly sorry about the super late reply. We are working on the new SDK right now and are planning to have a first stable version by the end of June, but supporting basic track requests within the next two months. We are also planning to support Swift Package Manager, but we will not include it in the current iOS SDK v4.

Best regards,

Stella

[2020-10-29 04:38] iOS-Active opened #68 "Crashes app on userdefaults"
My app crashes on the below statement while accessing Userdefaults.

let userDefaults = UserDefaults.standard

I have changed my project to multi target from then i observe this crash.  I don't see this observe this  crash at the compile time but i was getting maximum crashes in firebase at this line.
I couldn't able to figure out . Any help is appreciated.

Xcode- 11.3
Swift - 4

[2020-10-29 08:50] stellatores commented on #68
Hello,

we do not use these user defaults / line of code in our SDK. Unfortunately, we cannot help here without further explanation or steps to reproduce. If you cannot fix this problem, please reach out to your Customer Success Manager at Mapp/Webtrekk so we can create a bug ticket on our side.

Thanks

[2020-11-13 22:28] KaiTeuber opened #69 "Xcode 12 & Carthage won't build"
When using Carthage package manage it won't build since Xcode 12.0

[2020-11-15 20:52] #69 closed

[2020-12-16 15:07] szotp commented on #65
Hi, any news? At least a binary package of current version would be appreciated.

[2020-12-16 16:01] stellatores commented on #65
Hi Christian,

given our company was bought by Mapp we have a new organization called Mapp Digital where you can also find the new iOS SDK: https://github.com/mapp-digital/MappIntelligence-iOS-v5

The SDK is finally close to the finish line with a major refactoring of the first beta versions coming up and WebView as well as media tracking in the making. All page and event requests/parameters are s

[2021-04-27 07:47] ntorring opened #70 "Build fails with Xcode 12.5"
Removing the "exported: true" from the "@_specialize" tags seems to fix the issue.
A new release would be appreciated, as this is currently breaking our workflow :/

[2021-04-27 15:22] Cordobo commented on #70
It looks like any further development is over here https://github.com/mapp-digital/MappIntelligence-iOS-v5

[2021-04-27 15:55] stellatores commented on #70
Thank you for your comments. Indeed, we released a new version of the iOS SDK and further feature development will only be supported on the new version. However, we still maintain this version and fix any potential bugs at this point. We are aware of the issue and will update as soon as it is fixed.

[2021-04-29 11:58] stellatores commented on #70
We released the bug fix today and it should work now Xcode 12.5. Please let us know if you have any further issues.

[2021-05-01 20:24] #70 closed

[2022-03-03 08:49] ChathuraP commented on #50
@akkrat  Did you able to find a solution to this issue? I'm having the almost exact same crash log, please let me know where I need to look into if you know any information regarding this issue.

thanks.